@font-face {
  font-family: 'Museo Sans Cyrl 100';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/MuseoSansCyrl-100.woff') 
}
@font-face {
  font-family: 'Museo Sans Cyrl 300';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/MuseoSansCyrl-300.woff') 
}
@font-face {
  font-family: 'Museo Sans Cyrl 500';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/MuseoSansCyrl-500.woff') 
}
@font-face {
  font-family: 'Museo Sans Cyrl 900';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/MuseoSansCyrl-900.woff') 
}
html{
	margin: 0;
	padding: 0;
}
body {
	margin: 0 auto;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	min-width: 320px;

	font-family: "Museo Sans Cyrl 100", serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;

	color: #45516e;
	background-color: #fff;
}

.visually-hidden {
	position: absolute;
	width: 0;
	height: 0;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.p0{
	padding: 0;
	margin: 0;
}
button{
	outline: none;
}

.container {
	max-width: 280px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
		margin: 0 auto;
	}
}

@media (min-width: 1360px) {
	.container {
		max-width: 1170px;
		margin: 0 auto;
	}
} 

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	background-color: #fff;
}
.header-info {
	border-bottom: 2px solid #bdbdbd;
}
.header-info--container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-info--logo-sub,
.header-info--tel,
.header-info--email,
.header-info--button-span {
	display: none;
}

.header-info--burger-btn {
	position: relative;
	width: 40px;
	height: 60px;
	background: transparent;
	border: none;
	cursor: pointer;
}
.header-info--burger-btn:hover::before {
	background-color: rgba(69, 81, 110, 0.6);
	-webkit-box-shadow: 0px 8px rgba(69, 81, 110, 0.6), 0px 16px rgba(69, 81, 110, 0.6);
	        box-shadow: 0px 8px rgba(69, 81, 110, 0.6), 0px 16px rgba(69, 81, 110, 0.6);
}
.header-info--burger-btn::before {
	position: absolute;
	content: "";
	top: 20px;
	left: 7px;
	width: 26px;
	height: 2px;
	background-color: #45516e;
	-webkit-box-shadow: 0px 8px #45516e, 0px 16px #45516e;
	        box-shadow: 0px 8px #45516e, 0px 16px #45516e;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.header-info--logo-link {
	display: flex;
	align-items: center;
	line-height: 0;
	text-decoration: none;
}
.header-info--logo-img {
	height: 46px;
	width: auto;
	padding-right: 6px;
}
.header-info--logo-head {
	font-family: "Museo Sans Cyrl 900";
	font-size: 18px;
	line-height: 25px;
	color: #000;
	text-transform: uppercase;
}
.header-info--button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding: 0;
	background-color: #45516e;
	background-image: url("img/tel.png");
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	cursor: pointer;
}
.header-info--button:hover {
	opacity: 0.6;
}

/*Модальная навигация*/
.header-nav {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: -70px;
	padding-bottom: 70px;
	transform: translateY(70px);

	z-index: 150;
	width: 100%;
	height: 100vh;
	box-sizing: border-box; 
	padding: 10%;
	color: #000000;
	background-color: #ffffff;
}
.header-nav--close-btn {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 30px;
	height: 30px;
	padding: 0;
	background-color: transparent;
	background-image: url("img/close2.png");
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.header-nav--close-btn:hover {
	opacity: 0.4;
}
.header-nav--list {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
	padding: 0;
	margin: 0 auto;
}
.header-nav--link {
	font-family: "Museo Sans Cyrl 100";
	font-size: 18px;
	line-height: 25px;
	color: #000;
	text-decoration: none;
}
.header-nav--link:hover,
.header-nav--link:active {
	font-family: "Museo Sans Cyrl 500";
	color: #45516e;
}
@media (min-width: 768px) {
	.header-info--burger-btn {
		order: -1;
	}
	.header-info--email {
		order: -1;
		display: block;
		position: relative;
		padding-left: 29px;
	}
	.header-info--email::before {
		position: absolute;
		content: "";
		top: 5px;
		left: 0px;
		width: 18px;
		height: 13px;
		background: url("img/mail-grey.png");
	}
	.header-info--email-link {
		font-family: "Museo Sans Cyrl 300";
		font-size: 16px;
		line-height: 22px;
		color: #000;
		text-decoration: none;
	}
	.header-info--tel-link:hover,
	.header-info--email-link:hover {
		text-decoration: underline;
	}
	.header-info--tel {
		display: block;
		position: relative;
		padding-left: 22px;
	}
	.header-info--tel::before {
		position: absolute;
		content: "";
		top: 2px;
		left: 0;
		width: 14px;
		height: 19px;
		background: url("img/tel-grey.png");
	}
	.header-info--tel-link {
		font-family: "Museo Sans Cyrl 300";
		font-size: 18px;
		line-height: 25px;
		color: #000;
		text-decoration: none;
	}
}
@media (min-width: 1360px) {
	.header-info--burger-btn,
	.header-nav--close-btn {
		display: none;
	}
	.header-info--logo-sub,
	.header-info--button-span {
		display: inline;
	}
	.header {
		position: static;
		width: 100%;
		z-index: 5;
		background-color: #fff;
	}
	.header-info {
		padding: 10px 0;
	}
	.header-info--logo-link {
		padding-right: 100px;
	}
	.header-info--logo-img {
		height: auto;
		width: auto;
		padding-right: 10px;
	}
	.header-info--logo-text {
		max-width: 320px;
	}
	.header-info--logo-sub {
		font-family: "Museo Sans Cyrl 100";
		font-size: 14px;
		line-height: 20px;
		color: #a9b5c6;
	}
	.header-info--email {
		order: 0;
	}
	.header-info--button {
		width: 191px;
		height: 54px;
		border-radius: 27px;
		padding: 0;
		background-color: #45516e;
		background-image: none;
		cursor: pointer;
		font-family: "Museo Sans Cyrl 100";
		font-size: 16px;
		line-height: 22px;
		color: #ffffff;
		opacity: 1;
	}
	.header-info--button:hover {
		opacity: 1;
	}
	.header-nav {
		display: block;
		position: static;
		padding-bottom: 0;
		transform: translateY(0);

		z-index: 150;
		width: 100%;
		height: auto;
		padding: 28px 0;
		box-sizing: border-box; 
		color: #000000;
		background-color: #ffffff;
	}
	.header-nav__fix {
		position: fixed;
		top: 0;
		left: 0;
		bottom: auto;
		width: 100%;

	}
	.header-nav--list {
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		padding: 0;
		margin: 0 auto;
	}
}



.main {
	padding-top: 62px;
	background: pink;
}

.first {
	position: relative;
}
.first--wrap {
	height: 400px;
	overflow: hidden;
}
.first--item {
	position: relative;
}
.first--item-img {
	display: block;
	width: auto;
	height: 400px;
	margin: 0 auto;
	filter: brightness(0.4);
}
.first--item-text {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0,-50%);
}
.first--title {

}
.first--subtitle {

}
.first--desc {
	
}
.first--btn {
	
}
.first--buttons {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
}
.first--button {
	margin: 0 10px;
	padding: 0;
	background-color: #fff;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
}
.first--button__active {
	background-color: #728aae;
	width: 20px;
	height: 20px;
}



/* -------------------- */



.certificate{
	padding-top: 25px;
	padding-bottom: 25px;
}
.certificate__wrap{
	background-color: rgb(255, 255, 255);
  	box-shadow: 0px 8px 20.58px 0.42px rgba(0, 0, 0, 0.09);
  	text-align: center;
}

.certificate__wrap-head{
	padding-top: 15px;
	color: #45516e;
	font-size: 24px;
	line-height: 30px;
}
.certificate__wrap-sub{
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0 10px;
	color: #45516e;
	font-size: 16px;
	line-height: 24px;
}
.certificate__wrap-image{
	display: block;
	margin: 0 auto;
}
.certificate__wrap-image-wrap{
	position: relative;
	padding-bottom: 10px;
}
.certificate__wrap-image-scale{
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url("img/scale.png");
	width: 64px;
	height: 64px;
	cursor: pointer;
}
.certificate__wrap-image-big-wrap{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 280px;
	height: 394px;
	background-size: contain;
	z-index: 500;
}
.certificate__wrap-image--close-btn {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 30px;
	height: 30px;
	padding: 0;
	background-color: transparent;
	background-image: url("img/close.png");
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	z-index: 501;
}
.certificate__wrap-image--close-btn:hover {
	opacity: 0.4;
}
.certificate__wrap-image-big{
	width: 280px;
	height: 394px;
}


@media(min-width:768px){
	.certificate{
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.certificate__wrap{
	  	text-align: left;
	  	display: flex;
	  	width: 495px;
	  	-ms-align-items: center;
	  	align-items: center;
	  	margin: 0 auto;
	}
	.certificate__wrap-text{
		flex-basis: 250px;
	}
	.certificate__wrap-head{
		padding-left: 38px;
		padding-top: 0;
		color: #45516e;
		font-size: 24px;
		line-height: 30px;
	}
	.certificate__wrap-sub{
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
		padding-left: 38px;
		color: #45516e;
		font-size: 16px;
		line-height: 24px;
	}
	.certificate__wrap-image-wrap{
		position: relative;
		padding-bottom: 0;
	}
	.certificate__wrap-image-scale{
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: url("img/scale.png");
		width: 64px;
		height: 64px;
		cursor: pointer;
	}
	.certificate__wrap-image-big-wrap{
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 280px;
		height: 394px;
		background-size: contain;
		z-index: 500;
	}
	.certificate__wrap-image--close-btn {
		position: absolute;
		right: 0px;
		top: 0px;
		width: 30px;
		height: 30px;
		padding: 0;
		background-color: transparent;
		background-image: url("img/close.png");
		background-position: center;
		background-repeat: no-repeat;
		border: none;
		cursor: pointer;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
		z-index: 501;
	}
	.certificate__wrap-image--close-btn:hover {
		opacity: 0.4;
	}
	.certificate__wrap-image-big{
		width: 280px;
		height: 394px;
	}
}



.production__wrap{
	background-color: #f6f5f5;
}
.production__head{
	text-align: left;
	margin-bottom: 20px;
}
.production__item-text{
	margin: 0 auto;
	max-width: 280px;
	margin-bottom: 10px;
	padding-top: 30px;
}
.production__item-image{
	display: block;
	background-size: contain;
	width: 320px;
	height: 176px;
	margin: 0 auto;
}
.production__item:last-of-type{
	padding-bottom: 25px;
}

@media (min-width: 768px) {
	.production__wrap{
		background-color: #f6f5f5;
		display: flex;
		flex-wrap: wrap;
	}
	.production__item{
		display: flex;
		justify-content: space-between;
		position: relative;
		align-items: center;
	}
	.production__item:nth-of-type(2) .production__item-image{
		order: -1;
	}
	.production__item:nth-of-type(2) .production__item-text{
		margin-left: 0;
		margin-right: 3.3%;
	}
	.production__head{
		text-align: left;
		margin-bottom: 20px;
	}
	.production__item-text{
		margin: 0;
		max-width: 40%;
		flex-basis: 40%;
		margin-bottom: 0;
		padding-top: 0;
		font-size: 12px;
		margin-left: 3.3%;
		padding: 10px 0;
	}
	.production__item-image{
		display: block;
		background-size: contain;
		width: 50%;
		max-width: 960px;
		height: 100%;
		margin: 0;
	}
	.production__item:last-of-type{
		padding-bottom: 0;
	}
}

@media (min-width: 1360px) {
	.production__wrap{
		background-color: #f6f5f5;
		display: flex;
		flex-wrap: wrap;
	}
	.production__item{
		display: flex;
		justify-content: space-between;
		position: relative;
		align-items: center;
	}
	.production__item:nth-of-type(2) .production__item-image{
		order: -1;
	}
	.production__item:nth-of-type(2) .production__item-text{
		margin-left: 0;
		margin: 0;
		padding-left: 77px;
		padding-right: calc( 50% - 550px );
	}
	.production__head{
		text-align: left;
		margin-bottom: 20px;
	}
	.production__item-text{
		margin: 0;
		max-width: 50%;
		flex-basis: 50%;
		box-sizing: border-box;
		margin-bottom: 0;
		padding-top: 0;
		font-size: 16px;
		line-height: 24px;
		padding: 10px 0;
		padding-left: calc( 50% - 550px );
		padding-right: 45px;
		
	}
	.production__item-image{
		display: block;
		background-size: contain;
		width: 50%;
		max-width: 960px;
		height: 100%;
		margin: 0;
	}
}





.form{
	padding-top: 30px;
	padding-bottom: 20px;
}
.form-wrap {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 20.58px 0.42px rgba(0, 0, 0, 0.09);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.form__name,
.form__tel,
.form__button{
	width: 220px;
	box-sizing: border-box;
	border-radius: 50px;
	font: inherit;
	border: none;
	padding: 15px 0;
	background-color: rgb(239, 239, 239);
	display: block;
	margin: 0 auto;
}  
.form__tel{
	margin-bottom: 20px;
	margin-top: 10px;
	padding-left: 30px;
	padding-right: 15px;
}
.form__name{
	margin-top: 20px;
	padding-left: 30px;
	padding-right: 15px;
}
.form__button{
	margin-top: 15px;
}
.form__head{
	color: #45516e;
	font-family: 'Museo Sans Cyrl 900';
	padding: 0 15px;
}
.form__name::placeholder,
.form__tel::placeholder{
	color: #000;
}

.form__ckeck{
	position: absolute;
    left: -99999px; 
}
.form__ckeck-span{
	display: inline-block;
    position: relative;
    margin: 0;
    margin-top: -19px;
    margin-right: 5px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-color: transparent;
    border: 2px solid rgb(69, 81, 110);
    
    width: 11px;
    height: 11px;
    vertical-align: middle;
    cursor: pointer;
}

.form__ckeck:checked + .form__ckeck-span::before {
    position: absolute;
    content: "";
    top: 1px;
    left: 0;
    width: 10px;
    height: 9px;
    background: url("img/check.png") no-repeat center;
    cursor: pointer;
    z-index: 2;
}
.form__check-text{
	display: inline-block;
	width: 220px;
	margin: 0 auto;
	font-size: 14px;
	line-height: 16px;
}

@media(min-width:768px){
	.form__info-wrap{
		display: flex;
		justify-content: space-between;
	}
	.form{
		padding-top: 30px;
		padding-bottom: 20px;
	}
	.form-wrap {
	  background-color: rgb(255, 255, 255);
	  box-shadow: 0px 8px 20.58px 0.42px rgba(0, 0, 0, 0.09);
	  text-align: center;
	  padding-top: 20px;
	  padding-bottom: 20px;
	}
	.form__name,
	.form__tel,
	.form__button{
		width: 215px;
		box-sizing: border-box;
		border-radius: 50px;
		font: inherit;
		border: none;
		padding: 18px 0;
		background-color: rgb(239, 239, 239);
		display: block;
		margin: 0 auto;
	}  
	.form__tel{
		margin-bottom: 0;
		margin-top: 0;
		padding-left: 30px;
		padding-right: 15px;
	}
	.form__name{
		margin-top: 0;
		padding-left: 30px;
		padding-right: 15px;
	}
	.form__button{
		margin-top: 30px;
		background-color: #45516e;
		color: #fff;
	}
	.form__head{
		color: #45516e;
		font-family: 'Museo Sans Cyrl 900';
		padding: 0 15px;
		margin-bottom: 20px;
	}
	.form__name::placeholder,
	.form__tel::placeholder{
		color: #000;
	}

	.form__ckeck{
		position: absolute;
	    left: -99999px; 
	}
	.form__ckeck-span{
		display: inline-block;
	    position: relative;
	    margin: 0;
	    margin-top: -19px;
	    margin-right: 5px;
	    -webkit-border-radius: 2px;
	            border-radius: 2px;
	    background-color: transparent;
	    border: 2px solid rgb(69, 81, 110);
	    
	    width: 11px;
	    height: 11px;
	    vertical-align: middle;
	    cursor: pointer;
	}

	.form__ckeck:checked + .form__ckeck-span::before {
	    position: absolute;
	    content: "";
	    top: 1px;
	    left: 0;
	    width: 10px;
	    height: 9px;
	    background: url("img/check.png") no-repeat center;
	    cursor: pointer;
	    z-index: 2;
	}
	.form__check-text{
		display: inline-block;
		width: 220px;
		margin: 10px auto;
		font-size: 14px;
		line-height: 16px;
		margin-right: 10px;
	}
}
@media(min-width:1360px){
	.form__info-wrap{
		justify-content: space-around;
	}
	.form{
		padding-top: 115px;
		padding-bottom: 82px;
	}
	.form-wrap {
	  padding-top: 20px;
	  padding-bottom: 50px;
	}
	.form__name,
	.form__tel,
	.form__button{
		width: 215px;
		padding: 18px 0;
	}  
	.form__tel{
		padding-left: 30px;
		padding-right: 15px;
	}
	.form__name{
		margin-top: 0;
		padding-left: 30px;
		padding-right: 15px;
		margin-left: 100px;
	}
	.form__button{
		margin-top: 35px;
		background-color: #45516e;
		color: #fff;
		font-size: 18px;
	}
	.form__head{
		color: #45516e;
		font-family: 'Museo Sans Cyrl 900';
		font-size: 24px;
		line-height: 39px;
		padding: 0 15px;
		margin-bottom: 35px;
	}
	.form__name::placeholder,
	.form__tel::placeholder{
		color: #000;
		font-size: 18px;
	}

	.form__ckeck-span{
	    margin-top: -2px;
	    margin-right: 5px;
	    width: 18px;
	    height: 18px;
	}

	.form__ckeck:checked + .form__ckeck-span::before {
	    top: 4px;
	    left: 4px;
	}
	.form__check-text{
		display: inline-block;
		width: 440px;
		margin: 21px auto;
		font-size: 14px;
		line-height: 16px;
		margin-right: 90px;
	}
	.form__label{
		flex-basis: 570px;
	}
}





.nav__bottom{
	background-color: #45516e;
	color: #dfdfdf;
	font-size: 16px;
	line-height: 42px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.nav__bottom-menu{
	position: relative;
}
.nav__bottom-menu-button-open{
	position: absolute;
	font-size: 32px;
	line-height: 32px;
	top: 4px;
	right: 0;
	color: #fff;
	background-color: transparent;
	border: none;
}
.nav__bottom-menu-button-close{
	position: absolute;
	font-size: 32px;
	line-height: 32px;
	top: 0;
	right: 0;
	color: #fff;
	background-color: transparent;
	border: none;
	display: none;
}
.nav__bottom-prod{
	position: relative;
}
.nav__bottom-prod-button-open{
	position: absolute;
	font-size: 32px;
	line-height: 32px;
	top: 4px;
	right: 0;
	color: #fff;
	background-color: transparent;
	border: none;
}
.nav__bottom-prod-button-close{
	position: absolute;
	font-size: 32px;
	line-height: 32px;
	top: 0;
	right: 0;
	color: #fff;
	background-color: transparent;
	border: none;
	display: none;
}


.nav__bottom-menu-head{
	color: #fff;
	font-family: 'Museo Sans Cyrl 900';
	font-size: 24px;
	line-height: 42px;
	text-align: left;
}
.nav__bottom-prod-head{
	color: #fff;
	font-family: 'Museo Sans Cyrl 900';
	font-size: 24px;
	line-height: 42px;
	text-align: left;
}
.nav__bottom-menu-item-link{
	color: #dfdfdf;
	text-decoration: none;
}
.nav__bottom-prod-item-link{
	color: #dfdfdf;
	text-decoration: none;
}
.nav__bottom-prod-item-link:hover,
.nav__bottom-menu-item-link:hover{
	font-family: 'Museo Sans Cyrl 500';
}
.nav__bottom-prod-list{
	list-style: none;
	text-align: left;
	display: none;
}
.nav__bottom-prod-list2{
	list-style: none;
	text-align: left;
	display: none;
}

.nav__bottom-menu-list{
	list-style: none;
	text-align: left;
	display: none;
}

.nav__bottom-info{
	color: #fff;
}
.nav__bottom-tel{
	position: relative;
	margin-top: 15px;
	margin-bottom: 15px;
}
.nav__bottom-tel::before{
	position: absolute;
	content: "";
	top: 10px;
	left: 15px;
	width: 14px;
	height: 19px;
	background: url("img/tel.png");
}
.nav__bottom-email{
	position: relative;
	margin-top: 15px;
	margin-bottom: 15px;
}
.nav__bottom-email-link:hover,
.nav__bottom-tel-link:hover{
	text-decoration: underline;
}
.nav__bottom-email::before{
	position: absolute;
	content: "";
	top: 14px;
	left: 20px;
	width: 18px;
	height: 13px;
	background: url("img/mail.png");
}
.nav__bottom-email-link{
	color: #fff;
	text-decoration: none;
}
.nav__bottom-tel-link{
	color: #fff;
	text-decoration: none;
}
.nav__bottom-logo-head{
	text-transform: uppercase;
	font-size: 18px;
	line-height: 24px;
	font-family: 'Museo Sans Cyrl 900';
}
.nav__bottom-logo-sub{
	color: #a9b5c6;
	font-size: 14px;
	line-height: 18px;
}
.nav__bottom-button{
	padding: 20px 34px;
	border: 2px solid #fff;
	border-radius: 50px;
	background-color: transparent;
	font: inherit;
	color: #fff;
	font-size: 18px;
	line-height: 20px;
	box-sizing: border-box;
	cursor: pointer;
}
.nav__bottom-button:hover{
	background-color: rgb(255,255,255);
	color: #000;
}
.nav__bottom-logo{
	display: flex;
	padding-bottom: 10px;
	align-items: flex-end;
	text-align: right;
}
.nav__bottom-logo-logo{
	display: block;
}
.nav__bottom-logo__link{
	color: #fff;
	text-decoration: none;
}
.nav__bottom-logo-text{
	margin-right: 10px;
}
.nav__bottom-logo-sub{
	font-size: 12px;
}


@media(min-width:768px){
.nav__bottom-nobg{
	display: flex;
	justify-content: space-between;
}
.nav__bottom-menu{
	position: relative;
	flex-basis: 150px;
}
.nav__bottom-menu-button-open{

	display: none;
}
.nav__bottom-menu-button-close{
	display: none;
}
.nav__bottom-prod{
	position: relative;
	flex-basis: 260px;
}
.nav__bottom-prod-list{
	display: block;
}
.nav__bottom-prod-list2{
	display: block;
}
.nav__bottom-menu-list{
	display: block;
}
.nav__bottom-prod-button-open{
	display: none;
}
.nav__bottom-prod-button-close{
	display: none;
}

.nav__bottom-info{
	color: #fff;
	text-align: right;
	flex-basis: 300px;
}
.nav__bottom-tel::before{
	top: 10px;
	left: 70px;
}

.nav__bottom-email::before{
	top: 14px;
	left: 90px;
}

.nav__bottom-logo{
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	text-align: right;
}
.nav__bottom-logo-text{
	margin-right: 10px;
}
.nav__bottom-logo-sub{
	font-size: 12px;
}
}

@media(min-width:1360px){
.nav__bottom{
	padding-top: 55px;
	padding-bottom: 65px;
}

.nav__bottom-menu{
	position: relative;
	flex-basis: 200px;
}

.nav__bottom-prod{
	position: relative;
	flex-basis: 560px;
}
.nav__bottom-prod-list-wrap{
	display: flex;
	justify-content: space-between;
}
.nav__bottom-prod-list2{
	margin-right: 15px;
	flex-basis: 240px;
}

.nav__bottom-info{
	color: #fff;
	text-align: right;
	flex-basis: 350px;
}
.nav__bottom-tel,
.nav__bottom-email{
	font-size: 18px;
}
.nav__bottom-tel::before{
	top: 10px;
	left: 93px;
}

.nav__bottom-email::before{
	top: 14px;
	left: 115px;
}
.nav__bottom-logo{
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	text-align: right;
}
.nav__bottom-logo-text{
	margin-right: 10px;
}
.nav__bottom-logo-sub{
	font-size: 14px;
}
}




.footer{
	background-color: #a1aec1;
	color: #fff;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
.footer__policy-link{
	color: #fff;
}
.footer__copy{
	padding: 0 10px;
	margin-top: 10px;
}

@media(min-width:768px){
	.footer__nobg{
		display: flex;
		justify-content: space-between;
	}
	.footer__copy{
		padding: 0 10px;
		margin-top: 0;
	}
}

@media(min-width:1360px){
	.footer{
		font-size: 18px;
		padding-top: 35px;
		padding-bottom: 35px;
	}
	.footer__copy{
		padding: 0 10px;
	}
}


.modal__form-shadow {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: -70px;
    padding-bottom: 70px;
    transform: translateY(70px);
    z-index: 250;
    background-color: rgba(0, 0, 0, 0.9);
}



/*Модальная форма*/

.modal-form {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 280px;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 8px 20.58px 0.42px rgba(0, 0, 0, 0.09);
	text-align: center;
	padding-top: 25px;
	padding-bottom: 20px;
	border-radius: 7px;
	z-index: 300;
}
.modal-form__close-btn {
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
	padding: 0;
	background-color: transparent;
	background-image: url("img/close2.png");
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.modal-form__close-btn:hover {
	opacity: 0.4;
}
.modal-form__name,
.modal-form__tel,
.modal-form__button{
	width: 220px;
	box-sizing: border-box;
	border-radius: 50px;
	font: inherit;
	border: none;
	padding: 15px 0;
	background-color: rgb(239, 239, 239);
	display: block;
	margin: 0 auto;
}  
.modal-form__tel{
	margin-bottom: 20px;
	margin-top: 10px;
	padding-left: 30px;
	padding-right: 15px;
}
.modal-form__name{
	margin-top: 20px;
	padding-left: 30px;
	padding-right: 15px;
}
.modal-form__button{
	background-color: #45516e;
	color: #fff;
	margin-top: 15px;
}
.modal-form__head{
	color: #45516e;
	font-family: 'Museo Sans Cyrl 900';
	padding: 0 15px;
}
.modal-form__name::placeholder,
.modal-form__tel::placeholder{
	color: #000;
}
.modal-form__ckeck{
	position: absolute;
    left: -99999px; 
}
.modal-form__ckeck-span{
	display: inline-block;
    position: relative;
    margin: 0;
    margin-top: -19px;
    margin-right: 5px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-color: transparent;
    border: 2px solid rgb(69, 81, 110);
    width: 11px;
    height: 11px;
    vertical-align: middle;
    cursor: pointer;
}
.modal-form__ckeck:checked + .modal-form__ckeck-span::before {
    position: absolute;
    content: "";
    top: 1px;
    left: 0;
    width: 10px;
    height: 9px;
    background: url("img/check.png") no-repeat center;
    cursor: pointer;
    z-index: 2;
}
.modal-form__check-text{
	display: inline-block;
	width: 220px;
	margin: 0 auto;
	font-size: 14px;
	line-height: 16px;
	color: #000;
}
.modal-shadow {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: -70px;
	padding-bottom: 70px;
	transform: translateY(70px);
	z-index: 250;
	background-color: rgba(0, 0, 0, 0.8);
}

@media(min-width:768px){
	.modal-form {
		width: 720px;
	}
	.modal-form__info-wrap{
		display: flex;
		justify-content: space-between;
	}
	.modal-form__name,
	.modal-form__tel,
	.modal-form__button{
		width: 215px;
		box-sizing: border-box;
		border-radius: 50px;
		font: inherit;
		border: none;
		padding: 18px 0;
		background-color: rgb(239, 239, 239);
		display: block;
		margin: 0 auto;
	}  
	.modal-form__tel{
		margin-bottom: 0;
		margin-top: 0;
		padding-left: 30px;
		padding-right: 15px;
	}
	.modal-form__name{
		margin-top: 0;
		padding-left: 30px;
		padding-right: 15px;
	}
	.modal-form__button{
		margin-top: 30px;
		background-color: #45516e;
		color: #fff;
	}
	.modal-form__head{
		color: #45516e;
		font-family: 'Museo Sans Cyrl 900';
		padding: 0 15px;
		margin-bottom: 20px;
	}
	.modal-form__name::placeholder,
	.modal-form__tel::placeholder{
		color: #000;
	}
	.modal-form__ckeck{
		position: absolute;
	    left: -99999px; 
	}
	.modal-form__ckeck-span{
		display: inline-block;
	    position: relative;
	    margin: 0;
	    margin-top: -19px;
	    margin-right: 5px;
	    -webkit-border-radius: 2px;
	            border-radius: 2px;
	    background-color: transparent;
	    border: 2px solid rgb(69, 81, 110);
	    
	    width: 11px;
	    height: 11px;
	    vertical-align: middle;
	    cursor: pointer;
	}
	.modal-form__ckeck:checked + .modal-form__ckeck-span::before {
	    position: absolute;
	    content: "";
	    top: 1px;
	    left: 0;
	    width: 10px;
	    height: 9px;
	    background: url("img/check.png") no-repeat center;
	    cursor: pointer;
	    z-index: 2;
	}
	.modal-form__check-text{
		display: inline-block;
		width: 220px;
		margin: 10px auto;
		font-size: 14px;
		line-height: 16px;
		margin-right: 10px;
	}
}
@media(min-width:1360px){
	.modal-form {
		width: 1170px;
		padding-top: 20px;
		padding-bottom: 50px;
	}
	.modal-form__info-wrap{
		justify-content: space-around;
	}
	.modal-form__close-btn {
		right: 0;
		top: 0;
		width: 40px;
		height: 40px;
	}
	.modal-form__name,
	.modal-form__tel,
	.modal-form__button{
		width: 215px;
		padding: 18px 0;
	}  
	.modal-form__tel{
		padding-left: 30px;
		padding-right: 15px;
	}
	.modal-form__name{
		margin-top: 0;
		padding-left: 30px;
		padding-right: 15px;
		margin-left: 100px;
	}
	.modal-form__button{
		margin-top: 35px;
		background-color: #45516e;
		color: #fff;
		font-size: 18px;
	}
	.modal-form__head{
		color: #45516e;
		font-family: 'Museo Sans Cyrl 900';
		font-size: 24px;
		line-height: 39px;
		padding: 0 15px;
		margin-bottom: 35px;
	}
	.modal-form__name::placeholder,
	.modal-form__tel::placeholder{
		color: #000;
		font-size: 18px;
	}
	.modal-form__ckeck-span{
	    margin-top: -2px;
	    margin-right: 5px;
	    width: 18px;
	    height: 18px;
	}
	.modal-form__ckeck:checked + .modal-form__ckeck-span::before {
	    top: 4px;
	    left: 4px;
	}
	.modal-form__check-text{
		display: inline-block;
		width: 440px;
		margin: 21px auto;
		font-size: 14px;
		line-height: 16px;
		margin-right: 90px;
	}
	.modal-form__label{
		flex-basis: 570px;
	}
}

