@font-face {
  font-family: 'Museo Sans Cyrl 100';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/MuseoSansCyrl-100.woff') 
}
@font-face {
  font-family: 'Museo Sans Cyrl 300';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/MuseoSansCyrl-300.woff') 
}
@font-face {
  font-family: 'Museo Sans Cyrl 500';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/MuseoSansCyrl-500.woff') 
}
@font-face {
  font-family: 'Museo Sans Cyrl 900';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/MuseoSansCyrl-900.woff') 
}
html{
	margin: 0;
	padding: 0;
}
body {
	margin: 0 auto;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	min-width: 320px;

	font-family: "Museo Sans Cyrl 100", serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;

	color: #45516e;
	background-color: #fff;
}

.visually-hidden {
	position: absolute;
	width: 0;
	height: 0;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.p0{
	padding: 0;
	margin: 0;
}
button{
	outline: none;
}

.container {
	max-width: 280px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
		margin: 0 auto;
	}
}

@media (min-width: 1360px) {
	.container {
		max-width: 1170px;
		margin: 0 auto;
	}
} 

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	background-color: #fff;
}
.header-info {
	border-bottom: 2px solid #bdbdbd;
}
.header-info--container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-info--logo-sub,
.header-info--tel,
.header-info--email,
.header-info--button-span {
	display: none;
}

.header-info--burger-btn {
	position: relative;
	width: 40px;
	height: 60px;
	background: transparent;
	border: none;
	cursor: pointer;
}
.header-info--burger-btn:hover::before {
	background-color: rgba(69, 81, 110, 0.6);
	-webkit-box-shadow: 0px 8px rgba(69, 81, 110, 0.6), 0px 16px rgba(69, 81, 110, 0.6);
	        box-shadow: 0px 8px rgba(69, 81, 110, 0.6), 0px 16px rgba(69, 81, 110, 0.6);
}
.header-info--burger-btn::before {
	position: absolute;
	content: "";
	top: 20px;
	left: 7px;
	width: 26px;
	height: 2px;
	background-color: #45516e;
	-webkit-box-shadow: 0px 8px #45516e, 0px 16px #45516e;
	        box-shadow: 0px 8px #45516e, 0px 16px #45516e;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.header-info--logo-link {
	display: flex;
	align-items: center;
	line-height: 0;
	text-decoration: none;
}
.header-info--logo-img {
	height: 46px;
	width: auto;
	padding-right: 6px;
}
.header-info--logo-head {
	font-family: "Museo Sans Cyrl 900";
	font-size: 18px;
	line-height: 25px;
	color: #000;
	text-transform: uppercase;
}
.header-info--button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding: 0;
	background-color: #45516e;
	background-image: url("img/tel.png");
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	transition: 0.3s;
	cursor: pointer;
}
.header-info--button:hover {
	opacity: 0.6;
}

/*Модальная навигация*/
.header-nav {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: -70px;
	padding-bottom: 70px;
	transform: translateY(70px);

	z-index: 150;
	width: 100%;
	height: 100vh;
	box-sizing: border-box; 
	padding: 10%;
	color: #000000;
	background-color: #ffffff;
}
.header-nav--close-btn {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 30px;
	height: 30px;
	padding: 0;
	background-color: transparent;
	background-image: url("img/close2.png");
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.header-nav--close-btn:hover {
	opacity: 0.4;
}
.header-nav--list {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
	padding: 0;
	margin: 0 auto;
}
.header-nav--link {
	font-family: "Museo Sans Cyrl 100";
	font-size: 18px;
	line-height: 25px;
	color: #000;
	text-decoration: none;
}
.header-nav--link:hover,
.header-nav--link:active {
	font-family: "Museo Sans Cyrl 500";
	color: #45516e;
}
@media (min-width: 768px) {
	.header-info--burger-btn {
		order: -1;
	}
	.header-info--email {
		order: -1;
		display: block;
		position: relative;
		padding-left: 29px;
	}
	.header-info--email::before {
		position: absolute;
		content: "";
		top: 5px;
		left: 0px;
		width: 18px;
		height: 13px;
		background: url("img/mail-grey.png");
	}
	.header-info--email-link {
		font-family: "Museo Sans Cyrl 300";
		font-size: 16px;
		line-height: 22px;
		color: #000;
		text-decoration: none;
	}
	.header-info--tel-link:hover,
	.header-info--email-link:hover {
		text-decoration: underline;
	}
	.header-info--tel {
		display: block;
		position: relative;
		padding-left: 22px;
	}
	.header-info--tel::before {
		position: absolute;
		content: "";
		top: 2px;
		left: 0;
		width: 14px;
		height: 19px;
		background: url("img/tel-grey.png");
	}
	.header-info--tel-link {
		font-family: "Museo Sans Cyrl 300";
		font-size: 18px;
		line-height: 25px;
		color: #000;
		text-decoration: none;
	}
}
@media (min-width: 1360px) {
	.header-info--burger-btn,
	.header-nav--close-btn {
		display: none;
	}
	.header-info--logo-sub,
	.header-info--button-span {
		display: inline;
	}
	.header {
		position: static;
		width: 100%;
		z-index: 5;
		background-color: #fff;
	}
	.header-info {
		padding: 10px 0;
	}
	.header-info--logo-link {
		padding-right: 100px;
	}
	.header-info--logo-img {
		height: auto;
		width: auto;
		padding-right: 10px;
	}
	.header-info--logo-text {
		max-width: 320px;
	}
	.header-info--logo-sub {
		font-family: "Museo Sans Cyrl 100";
		font-size: 14px;
		line-height: 20px;
		color: #a9b5c6;
	}
	.header-info--email {
		order: 0;
	}
	.header-info--button {
		width: 191px;
		height: 54px;
		border-radius: 27px;
		padding: 0;
		background-color: #45516e;
		background-image: none;
		cursor: pointer;
		font-family: "Museo Sans Cyrl 100";
		font-size: 16px;
		line-height: 22px;
		color: #ffffff;
		opacity: 1;
	}
	.header-nav {
		display: block;
		position: static;
		padding-bottom: 0;
		transform: translateY(0);

		z-index: 150;
		width: 100%;
		height: auto;
		padding: 28px 0;
		box-sizing: border-box; 
		color: #000000;
		background-color: #ffffff;
	}
	.header-nav__fix {
		position: fixed;
		top: 0;
		left: 0;
		bottom: auto;
		width: 100%;

	}
	.header-nav--list {
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		padding: 0;
		margin: 0 auto;
	}
}



.main {
	padding-top: 62px;
}
.first {
	position: relative;
}
.first--wrap {
	height: 500px;
	overflow: hidden;
}
.first--item {
	position: relative;
}
.first--item-img {
	display: block;
	width: auto;
	height: 500px;
	margin: 0 auto;
	filter: brightness(0.4);
}
.first--item-text {
	position: absolute;
	left: 50%;
	top: 4%;
	transform: translate(-50%, 0);
	color: #ffffff;
	width: 280px;
}
.first--title {
	font-family: "Museo Sans Cyrl 900";
	font-size: 24px;
	line-height: 34px;
}
.first--subtitle {
	font-family: "Museo Sans Cyrl 100";
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 15px;
}
.first--desc {
	font-family: "Museo Sans Cyrl 100";
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 10px;
}
.first--btn {
	font-family: "Museo Sans Cyrl 100";
	font-size: 16px;
	line-height: 24px;
	background-color: #fff;
	color: #45516e;
	border: none;
	border-radius: 30px;
	padding: 0;
	height: 40px;
	width: 160px;
	cursor: pointer;
	transition: 0.3s;
}
.first--btn:hover {
	background-color: #cccccc;
}
.first--buttons {
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
}
.first--button {
	margin: 0 10px;
	padding: 0;
	background-color: #fff;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
}
.first--button__active {
	background-color: #728aae;
	width: 20px;
	height: 20px;
}
@media(min-width:768px) {
	.first--wrap {
		height: 550px;
	}
	.first--item-img {
		height: 550px;
	}
	.first--item-text {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		color: #ffffff;
		width: 600px;
	}
	.first--title {
		font-size: 32px;
		line-height: 45px;
	}
	.first--subtitle {
		font-size: 28px;
		line-height: 40px;
		margin-bottom: 25px;
	}
	.first--desc {
		margin-bottom: 25px;
	}
	.first--desc span {
		display: block;
		height: 24px;
	}
	.first--btn {
		font-size: 18px;
		line-height: 24px;
		height: 51px;
		width: 200px;
	}
	.first--buttons {
		bottom: 30px;
	}
}
@media(min-width:1360px) {
	.main {
		padding-top: 0;
	}
	.main__fix {
		padding-top: 81px;
	}
	.first--wrap {
		height: 725px;
	}
	.first--item-img {
		height: 725px;
	}
	.first--item-text {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		color: #ffffff;
		box-sizing: border-box;
		width: 970px;
		padding-right: 270px;
	}
	.first--title {
		font-size: 40px;
		line-height: 52px;
	}
	.first--subtitle {
		font-size: 36px;
		line-height: 52px;
		margin-bottom: 40px;
	}
	.first--desc {
		margin-bottom: 45px;
	}
	.first--btn {
		font-size: 18px;
		line-height: 24px;
		height: 61px;
		width: 214px;
		margin-bottom: 20px;
	}
	.first--buttons {
		position: absolute;
		bottom: 42%;
		left: calc( 50% + 457px );
		transform: translate(0, -50%);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.first--button {
		margin: 8px;
	}
}



.prod {
	padding-bottom: 30px;
}
.prod--title {
	font-family: "Museo Sans Cyrl 900";
	font-size: 24px;
	line-height: 24px;
	color: #45516e;
	padding: 30px 0;
}
.prod--item-link {
	display: block;
	width: 100%;
	height: 200px;
	box-sizing: border-box;
	border: 2px solid #cccccc;
	text-decoration: none;
	margin-bottom: 30px;
}
.prod--item-top {
	padding: 5%;
	height: 138px;
	box-sizing: border-box;
}
.prod--item-img {
	display: block;
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
}
.prod--item-bottom {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;
	border-top: 2px solid #cccccc;
	height: 58px;
}
.prod--item-text {
	font-family: "Museo Sans Cyrl 300";
	font-size: 16px;
	line-height: 24px;
	color: #000;
}
@media(min-width:768px) {
	.prod--wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.prod--item-link {
		width: 300px;
	}
}
@media(min-width:1360px) {
	.prod {
		padding-bottom: 54px;
	}
	.prod--title {
		font-size: 36px;
		line-height: 39px;
		padding: 93px 0 48px 0;
	}
	.prod--wrap {
		justify-content: space-between;
	}
	.prod--item-link {
		width: 570px;
		height: 323px;
		margin-bottom: 53px;
	}
	.prod--item-top {
		padding: 5%;
		height: 256px;
		box-sizing: border-box;
	}
	.prod--item-bottom {
		width: 100%;
		padding: 0 23px;
		height: 63px;
	}
	.prod--item-text {
		font-size: 24px;
		line-height: 31px;
	}
	.prod--item-link:hover {
		transition: 0.3s;
		border: 2px solid #fff;
		box-shadow: 0px 8px 20.58px 0.42px rgba(0, 0, 0, 0.09);
	}
	.prod--item-link:hover .prod--item-top {
		display: none;
	}
	.prod--item-link:hover .prod--item-bottom {
		border-top: 2px solid #fff;
		height: 100%;
		justify-content: center;
	}
	.prod--item-link:hover .prod--item-text {
		font-family: "Museo Sans Cyrl 900";
		color: #45516e;
	}
}



.plus {
	background-color: #f6f5f5;
	padding-bottom: 20px;
}
.plus--title {
	font-family: "Museo Sans Cyrl 900";
	font-size: 24px;
	line-height: 24px;
	color: #45516e;
	padding: 30px 0;
}
.plus--list {
	list-style: none;
	text-align: center;
}
.plus--text-title {
	font-family: "Museo Sans Cyrl 300";
	padding: 5px 5px 0 5px;
	font-size: 16px;
	line-height: 24px;
}
.plus--text-desc {
	font-size: 14px;
	line-height: 20px;
	padding: 7px 15px 35px 15px;
}
@media(min-width:768px) {
	.plus--list {
		display: flex;
		justify-content:  space-between;
	}
	.plus--item {
		width: 33%;
	}
}
@media(min-width:1360px) {
	.plus {
		padding-bottom: 105px;
	}
	.plus--title {
		font-size: 36px;
		line-height: 39px;
		padding: 95px 0 45px 0;
	}
	.plus--item {
		width: 33%;
		display: flex;
		align-items: center;
		text-align: left;
	}
	.plus--item:nth-of-type(2),
	.plus--item:nth-of-type(3) {
		width: 29%;
	}
	.plus--item:nth-of-type(2) {
		margin-right: 4%;
	}
	.plus--text {
		padding-left: 17px;
	}
	.plus--text-title {
		padding: 0;
		padding-bottom: 5px;
		font-size: 18px;
		line-height: 24px;
	}
	.plus--text-desc {
		padding: 0;
	}
}


.steps {
	padding-bottom: 35px;
}
.steps--title {
	font-family: "Museo Sans Cyrl 900";
	font-size: 24px;
	line-height: 24px;
	color: #45516e;
	padding: 30px 0;
}
.steps--list {
	list-style: none;
	text-align: center;
}
.steps--item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 50px;
}
.steps--item:last-of-type {
	padding-bottom: 25px;
}
.steps--item::after {
	position: absolute;
	content: "\21D3";
	height: 25px;
	width: 25px;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: "Museo Sans Cyrl 900";
	font-size: 22px;
	line-height: 25px;
	color: #45516e;
}
.steps--item:last-of-type::after {
	display: none;
}
.steps--item-title-wrap {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70%;
	padding: 20px 0;
	min-height: 48px;
}
.steps--item-title-wrap::before {
	position: absolute;
	content: "";
	height: 2px;
	width: 80px;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: #a1aec1;
}
.steps--item-title-wrap::after {
	position: absolute;
	content: "";
	height: 2px;
	width: 80px;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: #a1aec1;
}
.steps--item-title {
	font-family: "Museo Sans Cyrl 900";
	font-size: 16px;
	line-height: 24px;
	color: #45516e;
}
.steps--item-number {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	font-family: "Museo Sans Cyrl 900";
	font-size: 96px;
	line-height: 96px;
	color: #45516e;
	opacity: 0.16;
	z-index: -1;
}
.steps--item-btn__open,
.steps--item-btn__close {
	position: absolute;
	top: 71px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	padding: 0;
	border: none;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 8px 20.58px 0.42px rgba(0, 0, 0, 0.09);

	font-family: "Museo Sans Cyrl 300";
	font-size: 22px;
	line-height: 25px;
	color: #45516e;
	cursor: pointer;
}
.steps--item-btn__close,
.steps--item-extra {
	display: none;
}
.steps--item-extra {
	padding: 15px;
	padding-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #4a5571;
}
.steps--btn {
	display: block;
	margin: 0 auto;
	font-family: "Museo Sans Cyrl 100";
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	background-color: #45516e;
	border: none;
	border-radius: 30px;
	padding: 0;
	height: 40px;
	width: 160px;
	transition: 0.3s;
}
.steps--btn:hover {
	opacity: 0.6;
}
@media(min-width:768px) {
	.steps {
		padding-bottom: 45px;
	}
	.steps--list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.steps--item {
		width: 33%;
	}
	.steps--item::after {
		display: none;
	}
	.steps--item-title-wrap {
		width: 100%;
	}
	.steps--btn {
		font-size: 18px;
		line-height: 24px;
		height: 51px;
		width: 200px;
	}
}
@media(min-width:1360px) {
	.steps {
		padding-bottom: 0;
	}
	.steps--title {
		font-size: 36px;
		line-height: 39px;
		padding: 95px 0 47px 0;
	}
	.steps--list {
		flex-wrap: nowrap;
		padding: 0 85px;
	}
	.steps--item {
		width: 20%;
		padding-bottom: 0;
	}
	.steps--item:last-of-type {
		padding-bottom: 0;
	}
	.steps--item:nth-of-type(2n) {
		margin-top: 201px;
		margin-bottom: 54px;
	}
	.steps--item:nth-of-type(1)::before {
		position: absolute;
		content: "";
		width: 123px;
		height: 161px;
		bottom: 74px;
		left: 66px;
		background: url("img/arrow1.png") no-repeat center;
	}
	.steps--item:nth-of-type(2)::before {
		position: absolute;
		content: "";
		width: 81px;
		height: 149px;
		top: -163px;
		left: 132px;
		background: url("img/arrow2.png") no-repeat center;
	}
	.steps--item:nth-of-type(3)::before {
		position: absolute;
		content: "";
		width: 118px;
		height: 119px;
		top: 59px;
		left: 192px;
		background: url("img/arrow3.png") no-repeat center;
	}
	.steps--item:nth-of-type(4)::before {
		position: absolute;
		content: "";
		width: 158px;
		height: 103px;
		top: -34px;
		left: 173px;
		background: url("img/arrow4.png") no-repeat center;
	}
	.steps--item:last-of-type::after {
		display: none;
	}
	.steps--item-title-wrap {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 41px 0;
		min-height: 48px;
	}
	.steps--item-title-wrap::before,
	.steps--item-title-wrap::after {
		width: 148px;
	}
	.steps--item-title {
		font-size: 18px;
	}
	.steps--item-number {
		top: 6px;
		font-size: 124px;
		line-height: 124px;
	}
	.steps--item-btn__open,
	.steps--item-btn__close {
		position: absolute;
		top: 110px;
		width: 32px;
		height: 32px;
		font-size: 32px;
		line-height: 32px;
	}
	.steps--item-btn__close,
	.steps--item-extra {
		display: none;
	}
	.steps--item-extra {
		position: absolute;
		background-color: #fff;
		box-shadow: 0px 8px 20.58px 0.42px rgba(0, 0, 0, 0.09);
		width: 270px;
		box-sizing: border-box;
		padding: 24px;
		font-size: 16px;
		line-height: 24px;
		z-index: 5;
	}
	.steps--item:nth-of-type(2n-1) .steps--item-extra {
		top: 151px;
	}
	.steps--item:nth-of-type(2n) .steps--item-extra {
		bottom: 87px;
		width: 360px;
	}
	.steps--btn {
		margin: 0;
		margin-left: 123px;
		font-size: 18px;
		line-height: 24px;
		height: 61px;
		width: 214px;
		margin-bottom: 0;
	}
}



/* -------------------- */


.example__wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.example__wrap-list{
	list-style: none;
	display: flex;
	width: 9999px;
	align-items: center;
	transition: margin-left 750ms;
}

.example__head{
	font-family: "Museo Sans Cyrl 900";
	font-size: 24px;
	line-height: 24px;
	color: #45516e;
	padding: 20px 0;
}
.example__wrap-images{
	width: 240px;
  	overflow: hidden;
}	
.example__wrap-item{
	width: 240px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.example__wrap-image{
	max-width: 240px;
	height: auto;
	display: block;
}
.example__button:nth-of-type(1){
	border: none;
	background-color: transparent;
	background: url('img/left-arrow.png') no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 12px;
	height: 40px;
	cursor: pointer;
}
.example__button:nth-of-type(2){
	border: none;
	background-color: transparent;
	background: url('img/right-arrow.png') no-repeat;
	background-size: contain;
	width: 12px;
	height: 40px;
	cursor: pointer;
}
.example__button:nth-of-type(1):hover{
	border: none;
	background-color: transparent;
	background: url('img/left-arrow-blue.png') no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 12px;
	height: 40px;
}
.example__button:nth-of-type(2):hover{
	border: none;
	background-color: transparent;
	background: url('img/right-arrow-blue.png') no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 12px;
	height: 40px;
}


@media(min-width:768px){
	.example__wrap{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.example__wrap-list{
		list-style: none;
		display: flex;
		width: 9999px;
		align-items: center;
		transition: margin-left 750ms;
	}
	.example__wrap-images{
		width: 680px;
	  	overflow: hidden;
	}	
	.example__wrap-item{
		width: 680px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}
	.example__wrap-image{
		max-width: 680px;
		height: auto;
		display: block;
	}
}
@media(min-width:1360px){
	.example__wrap{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.example__head{
		font-size: 36px;
		line-height: 39px;
		padding: 93px 0 48px 0;
	}
	.example__wrap-list{
		list-style: none;
		display: flex;
		width: 9999px;
		align-items: center;
		transition: margin-left 750ms;
	}
	.example__wrap-images{
		width: 960px;
	  	overflow: hidden;
	}	
	.example__wrap-item{
		width: 960px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}
	.example__wrap-image{
		max-width: 960px;
		height: auto;
		display: block;
	}
	.example__button:nth-of-type(1){
		border: none;
		background-color: transparent;
		background: url('img/left-arrow.png') no-repeat;
		-webkit-background-size: contain;
		background-size: contain;
		width: 20px;
		height: 69px;
		cursor: pointer;
	}
	.example__button:nth-of-type(2){
		border: none;
		background-color: transparent;
		background: url('img/right-arrow.png') no-repeat;
		background-size: contain;
		width: 20px;
		height: 69px;
		cursor: pointer;
	}
	.example__button:nth-of-type(1):hover{
		border: none;
		background-color: transparent;
		background: url('img/left-arrow-blue.png') no-repeat;
		-webkit-background-size: contain;
		background-size: contain;
		width: 20px;
		height: 69px;
	}
	.example__button:nth-of-type(2):hover{
		border: none;
		background-color: transparent;
		background: url('img/right-arrow-blue.png') no-repeat;
		-webkit-background-size: contain;
		background-size: contain;
		width: 20px;
		height: 69px;
	}
}





.trust__lines{
	border-top: 2px solid #bababa;
	border-bottom: 2px solid #bababa;
}
.trust__wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.trust__head{
	font-family: "Museo Sans Cyrl 900";
	font-size: 24px;
	line-height: 24px;
	color: #45516e;
	padding: 20px 0;
}
.trust__wrap-comp-list{
	list-style: none;
	display: flex;
	align-items: center;
	/*justify-content: space-between; */
	width: 9999px;
	transition: margin-left 1250ms;
}


.trust__button{
	flex-basis: 20px;
	cursor: pointer;
}
.trust__button:nth-of-type(1){
	border: none;
	background-color: transparent;
	background: url('img/left-arrow.png') no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 12px;
	height: 40px;
}
.trust__button:nth-of-type(2){
	border: none;
	background-color: transparent;
	background: url('img/right-arrow.png') no-repeat;
	background-size: contain;
	width: 12px;
	height: 40px;
}
.trust__button:nth-of-type(1):hover{
	border: none;
	background-color: transparent;
	background: url('img/left-arrow-blue.png') no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 12px;
	height: 40px;
}
.trust__button:nth-of-type(2):hover{
	border: none;
	background-color: transparent;
	background: url('img/right-arrow-blue.png') no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 12px;
	height: 40px;
}

.trust__wrap-comp{
	/* height: 140px; */
	width: 220px;
  	overflow: hidden;
}
.trust__wrap-comp-item{
	width: 220px;
	display: inline-flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.trust__image{
	max-width: 220px;
	height: auto;
	display: block;
}


@media(min-width:768px){
	.trust__lines{
		border-top: 2px solid #bababa;
		border-bottom: 2px solid #bababa;
	}
	.trust__wrap{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.trust__wrap-comp-list{
		list-style: none;
		display: flex;
		align-items: center;
		/*justify-content: space-between; */
		width: 9999px;
		transition: margin-left 1250ms;
	}

	.trust__button{
		flex-basis: 20px;
	}
	.trust__button:nth-of-type(1){
		border: none;
		background-color: transparent;
		background: url('img/left-arrow.png') no-repeat;
		-webkit-background-size: contain;
		background-size: contain;
		width: 12px;
		height: 40px;
	}
	.trust__button:nth-of-type(2){
		border: none;
		background-color: transparent;
		background: url('img/right-arrow.png') no-repeat;
		background-size: contain;
		width: 12px;
		height: 40px;
	}
	.trust__button:nth-of-type(1):hover{
		border: none;
		background-color: transparent;
		background: url('img/left-arrow-blue.png') no-repeat;
		-webkit-background-size: contain;
		background-size: contain;
		width: 12px;
		height: 40px;
	}
	.trust__button:nth-of-type(2):hover{
		border: none;
		background-color: transparent;
		background: url('img/right-arrow-blue.png') no-repeat;
		-webkit-background-size: contain;
		background-size: contain;
		width: 12px;
		height: 40px;
	}

	.trust__wrap-comp{
		/* height: 140px; */
		width: 550px;
	  	overflow: hidden;
	}
	.trust__wrap-comp-item{
		width: 220px;
		display: inline-flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
		margin-right: 110px;
	}
	.trust__image{
		max-width: 220px;
		height: auto;
		display: block;
	}
}

@media(min-width:1360px){
	.trust__lines{
		padding-top: 20px;
		padding-bottom: 20px;
		border-top: 2px solid #bababa;
		border-bottom: 2px solid #bababa;
	}
	.trust__wrap{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.trust__head{
		font-size: 36px;
		line-height: 39px;
		padding: 93px 0 48px 0;
	}
	.trust__wrap-comp-list{
		list-style: none;
		display: flex;
		align-items: center;
		/* justify-content: space-between;  */
		width: 9999px;
		transition: margin-left 1250ms;
	}

	.trust__button{
		flex-basis: 20px;
	}
	.trust__button:nth-of-type(1){
		border: none;
		background-color: transparent;
		background: url('img/left-arrow.png') no-repeat;
		-webkit-background-size: contain;
		background-size: contain;
		width: 20px;
		height: 69px;
	}
	.trust__button:nth-of-type(2){
		border: none;
		background-color: transparent;
		background: url('img/right-arrow.png') no-repeat;
		background-size: contain;
		width: 20px;
		height: 69px;
	}
	.trust__button:nth-of-type(1):hover{
		border: none;
		background-color: transparent;
		background: url('img/left-arrow-blue.png') no-repeat;
		-webkit-background-size: contain;
		background-size: contain;
		width: 20px;
		height: 69px;
	}
	.trust__button:nth-of-type(2):hover{
		border: none;
		background-color: transparent;
		background: url('img/right-arrow-blue.png') no-repeat;
		-webkit-background-size: contain;
		background-size: contain;
		width: 20px;
		height: 69px;
	}

	.trust__wrap-comp{
		/* height: 140px; */
		width: 1100px;
	  	overflow: hidden;
	}
	.trust__wrap-comp-item{
		width: 220px;
		display: inline-flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
		margin-left: 50px;
		margin-right: 0;
	}
	.trust__image{
		max-width: 220px;
		height: auto;
		display: block;
	}
}




.certificate{
	padding-top: 25px;
	padding-bottom: 25px;
}
.certificate__wrap{
	background-color: rgb(255, 255, 255);
  	box-shadow: 0px 8px 20.58px 0.42px rgba(0, 0, 0, 0.09);
  	text-align: center;
}

.certificate__wrap-head{
	padding-top: 15px;
	color: #45516e;
	font-size: 24px;
	line-height: 30px;
}
.certificate__wrap-sub{
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0 10px;
	color: #45516e;
	font-size: 16px;
	line-height: 24px;
}
.certificate__wrap-image{
	display: block;
	margin: 0 auto;
}
.certificate__wrap-image-wrap{
	position: relative;
	padding-bottom: 10px;
}
.certificate__wrap-image-scale{
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url("img/scale.png");
	width: 64px;
	height: 64px;
	cursor: pointer;
}
.certificate__wrap-image-big-wrap{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 90vw;
	height: 90vh;
	background-size: contain;
	z-index: 500;
}
.certificate__wrap-image--close-btn {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 30px;
	height: 30px;
	padding: 0;
	background-color: transparent;
	background-image: url("img/close.png");
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	z-index: 501;
}
.certificate__wrap-image--close-btn:hover {
	opacity: 0.4;
}
.certificate__wrap-image-big{
	max-width: 90vw;
	height: 90vh;
	cursor: zoom-in;
}
.certificate__wrap-image-big:hover{
	transform: scale(1.5);
}


@media(min-width:768px){
	.certificate{
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.certificate__wrap{
		padding-top: 20px;
		padding-bottom: 20px;
	  	text-align: left;
	  	display: flex;
	  	justify-content: space-between;
	  	width: 495px;
	  	-ms-align-items: center;
	  	align-items: center;
	  	margin: 0 auto;
	}
	.certificate__wrap-text{
		flex-basis: 250px;
	}
	.certificate__wrap-head{
		padding-left: 38px;
		padding-top: 0;
		color: #45516e;
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 10px;
	}
	.certificate__wrap-sub{
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
		padding-left: 38px;
		color: #45516e;
		font-size: 16px;
		line-height: 24px;
	}
	.certificate__wrap-image-wrap{
		flex-basis: 250px;
		position: relative;
		padding-bottom: 0;
	}
	.certificate__wrap-image-scale{
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: url("img/scale.png");
		width: 64px;
		height: 64px;
		cursor: pointer;
	}
	.certificate__wrap-image-big-wrap{
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: auto;
		height: 90vh;
		background-size: contain;
		z-index: 500;
	}
	.certificate__wrap-image--close-btn {
		position: absolute;
		right: 0px;
		top: 0px;
		width: 30px;
		height: 30px;
		padding: 0;
		background-color: transparent;
		background-image: url("img/close.png");
		background-position: center;
		background-repeat: no-repeat;
		border: none;
		cursor: pointer;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
		z-index: 501;
	}
	.certificate__wrap-image--close-btn:hover {
		opacity: 0.4;
	}
	.certificate__wrap-image-big{
		width: auto;
		height: 90vh;
	}
}

@media(min-width:1360px){
	.certificate{
		padding-top: 100px;
		padding-bottom: 65px;
	}
	.certificate__wrap{
		padding-top: 20px;
		padding-bottom: 20px;
	  	text-align: left;
	  	display: flex;
	  	justify-content: space-between;
	  	width: 495px;
	  	-ms-align-items: center;
	  	align-items: center;
	  	margin: 0 auto;
	}
	.certificate__wrap-text{
		flex-basis: 250px;
	}
	.certificate__wrap-head{
		padding-left: 38px;
		padding-top: 0;
		color: #45516e;
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 10px;
	}
	.certificate__wrap-sub{
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
		padding-left: 38px;
		color: #45516e;
		font-size: 16px;
		line-height: 24px;
	}
	.certificate__wrap-image-wrap{
		flex-basis: 250px;
		position: relative;
		padding-bottom: 0;
	}
	.certificate__wrap-image-scale{
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: url("img/scale.png");
		width: 64px;
		height: 64px;
		cursor: pointer;
	}
	.certificate__wrap-image-big-wrap{
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: auto;
		height: 90vh;
		background-size: contain;
		z-index: 500;
	}
	.certificate__wrap-image--close-btn {
		position: absolute;
		right: 0px;
		top: 0px;
		width: 30px;
		height: 30px;
		padding: 0;
		background-color: transparent;
		background-image: url("img/close.png");
		background-position: center;
		background-repeat: no-repeat;
		border: none;
		cursor: pointer;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
		z-index: 501;
	}
	.certificate__wrap-image--close-btn:hover {
		opacity: 0.4;
	}
	.certificate__wrap-image-big{
		width: auto;
		height: 90vh;
	}
}

.production__wrap{
	background-color: #f6f5f5;
}
.production__head{
	text-align: left;
	margin-bottom: 20px;
}
.production__item-text{
	margin: 0 auto;
	max-width: 280px;
	margin-bottom: 10px;
	padding-top: 30px;
}
.production__item-image{
	display: block;
	background-size: contain;
	width: 320px;
	height: 176px;
	margin: 0 auto;
}
.production__item:last-of-type{
	padding-bottom: 25px;
}

@media (min-width: 768px) {
	.production__wrap{
		background-color: #f6f5f5;
		display: flex;
		flex-wrap: wrap;
	}
	.production__item{
		display: flex;
		justify-content: space-between;
		position: relative;
		align-items: center;
	}
	.production__item:nth-of-type(2) .production__item-image{
		order: -1;
	}
	.production__item:nth-of-type(2) .production__item-text{
		margin-left: 0;
		margin-right: 3.3%;
	}
	.production__head{
		text-align: left;
		margin-bottom: 20px;
	}
	.production__item-text{
		margin: 0;
		max-width: 40%;
		flex-basis: 40%;
		margin-bottom: 0;
		padding-top: 0;
		font-size: 12px;
		margin-left: 3.3%;
		padding: 10px 0;
	}
	.production__item-image{
		display: block;
		background-size: contain;
		width: 50%;
		max-width: 960px;
		height: 100%;
		margin: 0;
	}
	.production__item:last-of-type{
		padding-bottom: 0;
	}
}

@media (min-width: 1360px) {
	.production__wrap{
		background-color: #f6f5f5;
		display: flex;
		flex-wrap: wrap;
	}
	.production__item{
		display: flex;
		justify-content: space-between;
		position: relative;
		align-items: center;
	}
	.production__item:nth-of-type(2) .production__item-image{
		order: -1;
	}
	.production__item:nth-of-type(2) .production__item-text{
		margin-left: 0;
		margin: 0;
		padding-left: 77px;
		padding-right: calc( 50% - 550px );
	}
	.production__head{
		text-align: left;
		margin-bottom: 55px;
		font-size: 36px;
		font-family: 'Museo Sans Cyrl 900';
	}
	.production__item-text{
		margin: 0;
		max-width: 50%;
		flex-basis: 50%;
		box-sizing: border-box;
		margin-bottom: 0;
		padding-top: 0;
		font-size: 16px;
		line-height: 24px;
		padding: 10px 0;
		padding-left: calc( 50% - 550px );
		padding-right: 45px;
		
	}
	.production__item-image{
		display: block;
		background-size: contain;
		width: 50%;
		max-width: 960px;
		height: 100%;
		margin: 0;
	}
}





.form{
	padding-top: 30px;
	padding-bottom: 20px;
}
.form-wrap {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 20.58px 0.42px rgba(0, 0, 0, 0.09);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.form__name,
.form__tel,
.form__button{
	width: 220px;
	box-sizing: border-box;
	border-radius: 50px;
	font: inherit;
	border: none;
	padding: 15px 0;
	background-color: rgb(239, 239, 239);
	display: block;
	margin: 0 auto;
}  
.form__tel{
	margin-bottom: 20px;
	margin-top: 10px;
	padding-left: 30px;
	padding-right: 15px;
}
.form__name{
	margin-top: 20px;
	padding-left: 30px;
	padding-right: 15px;
}
.form__button{
	margin-top: 15px;
	background-color: #45516e;
	color: #fff;
	cursor: pointer;
	transition: 0.3s;
}
.form__button:hover {
	opacity: 0.6;
}
.form__head{
	color: #45516e;
	font-family: 'Museo Sans Cyrl 900';
	padding: 0 15px;
}
.form__name::placeholder,
.form__tel::placeholder{
	color: #000;
}

.form__ckeck{
	position: absolute;
    left: -99999px; 
}
.form__ckeck-span{
	display: inline-block;
    position: relative;
    margin: 0;
    margin-top: -19px;
    margin-right: 5px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-color: transparent;
    border: 2px solid rgb(69, 81, 110);
    
    width: 11px;
    height: 11px;
    vertical-align: middle;
    cursor: pointer;
}

.form__ckeck:checked + .form__ckeck-span::before {
    position: absolute;
    content: "";
    top: 1px;
    left: 0;
    width: 10px;
    height: 9px;
    background: url("img/check.png") no-repeat center;
    cursor: pointer;
    z-index: 2;
}
.form__check-text{
	display: inline-block;
	width: 220px;
	margin: 0 auto;
	font-size: 14px;
	line-height: 16px;
}

@media(min-width:768px){
	.form__info-wrap{
		display: flex;
		justify-content: space-between;
	}
	.form{
		padding-top: 30px;
		padding-bottom: 20px;
	}
	.form-wrap {
	  background-color: rgb(255, 255, 255);
	  box-shadow: 0px 8px 20.58px 0.42px rgba(0, 0, 0, 0.09);
	  text-align: center;
	  padding-top: 20px;
	  padding-bottom: 20px;
	}
	.form__name,
	.form__tel,
	.form__button{
		width: 215px;
		box-sizing: border-box;
		border-radius: 50px;
		font: inherit;
		border: none;
		padding: 18px 0;
		background-color: rgb(239, 239, 239);
		display: block;
		margin: 0 auto;
	}  
	.form__tel{
		margin-bottom: 0;
		margin-top: 0;
		padding-left: 30px;
		padding-right: 15px;
	}
	.form__name{
		margin-top: 0;
		padding-left: 30px;
		padding-right: 15px;
	}
	.form__button{
		margin-top: 30px;
		background-color: #45516e;
		color: #fff;
	}
	.form__head{
		color: #45516e;
		font-family: 'Museo Sans Cyrl 900';
		padding: 0 15px;
		margin-bottom: 20px;
	}
	.form__name::placeholder,
	.form__tel::placeholder{
		color: #000;
	}

	.form__ckeck{
		position: absolute;
	    left: -99999px; 
	}
	.form__ckeck-span{
		display: inline-block;
	    position: relative;
	    margin: 0;
	    margin-top: -19px;
	    margin-right: 5px;
	    -webkit-border-radius: 2px;
	            border-radius: 2px;
	    background-color: transparent;
	    border: 2px solid rgb(69, 81, 110);
	    
	    width: 11px;
	    height: 11px;
	    vertical-align: middle;
	    cursor: pointer;
	}

	.form__ckeck:checked + .form__ckeck-span::before {
	    position: absolute;
	    content: "";
	    top: 1px;
	    left: 0;
	    width: 10px;
	    height: 9px;
	    background: url("img/check.png") no-repeat center;
	    cursor: pointer;
	    z-index: 2;
	}
	.form__check-text{
		display: inline-block;
		width: 220px;
		margin: 10px auto;
		font-size: 14px;
		line-height: 16px;
		margin-right: 10px;
	}
}
@media(min-width:1360px){
	.form__info-wrap{
		justify-content: space-around;
	}
	.form{
		padding-top: 115px;
		padding-bottom: 82px;
	}
	.form-wrap {
	  padding-top: 20px;
	  padding-bottom: 50px;
	}
	.form__name,
	.form__tel,
	.form__button{
		width: 215px;
		padding: 18px 0;
	}  
	.form__tel{
		padding-left: 30px;
		padding-right: 15px;
	}
	.form__name{
		margin-top: 0;
		padding-left: 30px;
		padding-right: 15px;
		margin-left: 100px;
	}
	.form__button{
		margin-top: 35px;
		background-color: #45516e;
		color: #fff;
		font-size: 18px;
	}
	.form__head{
		color: #45516e;
		font-family: 'Museo Sans Cyrl 900';
		font-size: 24px;
		line-height: 39px;
		padding: 0 15px;
		margin-bottom: 35px;
	}
	.form__name::placeholder,
	.form__tel::placeholder{
		color: #000;
		font-size: 18px;
	}

	.form__ckeck-span{
	    margin-top: -2px;
	    margin-right: 5px;
	    width: 18px;
	    height: 18px;
	}

	.form__ckeck:checked + .form__ckeck-span::before {
	    top: 4px;
	    left: 4px;
	}
	.form__check-text{
		display: inline-block;
		width: 440px;
		margin: 21px auto;
		font-size: 14px;
		line-height: 16px;
		margin-right: 90px;
	}
	.form__label{
		flex-basis: 570px;
	}
}





.nav__bottom{
	background-color: #45516e;
	color: #dfdfdf;
	font-size: 16px;
	line-height: 42px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.nav__bottom-menu{
	position: relative;
}
.nav__bottom-menu-button-open{
	position: absolute;
	font-size: 32px;
	line-height: 32px;
	top: 4px;
	right: 0;
	color: #fff;
	background-color: transparent;
	border: none;
}
.nav__bottom-menu-button-close{
	position: absolute;
	font-size: 32px;
	line-height: 32px;
	top: 0;
	right: 0;
	color: #fff;
	background-color: transparent;
	border: none;
	display: none;
}
.nav__bottom-prod{
	position: relative;
}
.nav__bottom-prod-button-open{
	position: absolute;
	font-size: 32px;
	line-height: 32px;
	top: 4px;
	right: 0;
	color: #fff;
	background-color: transparent;
	border: none;
}
.nav__bottom-prod-button-close{
	position: absolute;
	font-size: 32px;
	line-height: 32px;
	top: 0;
	right: 0;
	color: #fff;
	background-color: transparent;
	border: none;
	display: none;
}


.nav__bottom-menu-head{
	color: #fff;
	font-family: 'Museo Sans Cyrl 900';
	font-size: 24px;
	line-height: 42px;
	text-align: left;
}
.nav__bottom-prod-head{
	color: #fff;
	font-family: 'Museo Sans Cyrl 900';
	font-size: 24px;
	line-height: 42px;
	text-align: left;
}
.nav__bottom-menu-item-link{
	color: #dfdfdf;
	text-decoration: none;
}
.nav__bottom-prod-item-link{
	color: #dfdfdf;
	text-decoration: none;
}
.nav__bottom-prod-item-link:hover,
.nav__bottom-menu-item-link:hover{
	font-family: 'Museo Sans Cyrl 500';
}
.nav__bottom-prod-list{
	list-style: none;
	text-align: left;
	display: none;
}
.nav__bottom-prod-list2{
	list-style: none;
	text-align: left;
	display: none;
}

.nav__bottom-menu-list{
	list-style: none;
	text-align: left;
	display: none;
}

.nav__bottom-info{
	color: #fff;
}
.nav__bottom-tel{
	position: relative;
	margin-top: 15px;
	margin-bottom: 15px;
}
.nav__bottom-tel::before{
	position: absolute;
	content: "";
	top: 10px;
	left: 15px;
	width: 14px;
	height: 19px;
	background: url("img/tel.png");
}
.nav__bottom-email{
	position: relative;
	margin-top: 15px;
	margin-bottom: 15px;
}
.nav__bottom-email-link:hover,
.nav__bottom-tel-link:hover{
	text-decoration: underline;
}
.nav__bottom-email::before{
	position: absolute;
	content: "";
	top: 14px;
	left: 20px;
	width: 18px;
	height: 13px;
	background: url("img/mail.png");
}
.nav__bottom-email-link{
	color: #fff;
	text-decoration: none;
}
.nav__bottom-tel-link{
	color: #fff;
	text-decoration: none;
}
.nav__bottom-logo-head{
	text-transform: uppercase;
	font-size: 18px;
	line-height: 24px;
	font-family: 'Museo Sans Cyrl 900';
}
.nav__bottom-logo-sub{
	color: #a9b5c6;
	font-size: 14px;
	line-height: 18px;
}
.nav__bottom-button{
	padding: 20px 34px;
	border: 2px solid #fff;
	border-radius: 50px;
	background-color: transparent;
	font: inherit;
	color: #fff;
	font-size: 18px;
	line-height: 20px;
	box-sizing: border-box;
	cursor: pointer;
}
.nav__bottom-button:hover{
	background-color: rgb(255,255,255);
	color: #000;
}
.nav__bottom-logo{
	display: flex;
	padding-bottom: 10px;
	align-items: flex-end;
	text-align: right;
}
.nav__bottom-logo-logo{
	display: block;
}
.nav__bottom-logo__link{
	color: #fff;
	text-decoration: none;
}
.nav__bottom-logo-text{
	margin-right: 10px;
}
.nav__bottom-logo-sub{
	font-size: 12px;
}


@media(min-width:768px){
.nav__bottom-nobg{
	display: flex;
	justify-content: space-between;
}
.nav__bottom-menu{
	position: relative;
	flex-basis: 150px;
}
.nav__bottom-menu-button-open{

	display: none;
}
.nav__bottom-menu-button-close{
	display: none;
}
.nav__bottom-prod{
	position: relative;
	flex-basis: 260px;
}
.nav__bottom-prod-list{
	display: block;
}
.nav__bottom-prod-list2{
	display: block;
}
.nav__bottom-menu-list{
	display: block;
}
.nav__bottom-prod-button-open{
	display: none;
}
.nav__bottom-prod-button-close{
	display: none;
}

.nav__bottom-info{
	color: #fff;
	text-align: right;
	flex-basis: 300px;
}
.nav__bottom-tel::before{
	top: 10px;
	left: 70px;
}

.nav__bottom-email::before{
	top: 14px;
	left: 90px;
}

.nav__bottom-logo{
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	text-align: right;
}
.nav__bottom-logo-text{
	margin-right: 10px;
}
.nav__bottom-logo-sub{
	font-size: 12px;
}
}

@media(min-width:1360px){
.nav__bottom{
	padding-top: 55px;
	padding-bottom: 65px;
}

.nav__bottom-menu{
	position: relative;
	flex-basis: 200px;
}

.nav__bottom-prod{
	position: relative;
	flex-basis: 560px;
}
.nav__bottom-prod-list-wrap{
	display: flex;
	justify-content: space-between;
}
.nav__bottom-prod-list2{
	margin-right: 15px;
	flex-basis: 240px;
}

.nav__bottom-info{
	color: #fff;
	text-align: right;
	flex-basis: 350px;
}
.nav__bottom-tel,
.nav__bottom-email{
	font-size: 18px;
}
.nav__bottom-tel::before{
	top: 10px;
	left: 93px;
}

.nav__bottom-email::before{
	top: 14px;
	left: 115px;
}
.nav__bottom-logo{
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	text-align: right;
}
.nav__bottom-logo-text{
	margin-right: 10px;
}
.nav__bottom-logo-sub{
	font-size: 14px;
}
}




.footer{
	background-color: #a1aec1;
	color: #fff;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
.footer__policy-link{
	color: #fff;
}
.footer__copy{
	padding: 0 10px;
	margin-top: 10px;
}

@media(min-width:768px){
	.footer__nobg{
		display: flex;
		justify-content: space-between;
	}
	.footer__copy{
		padding: 0 10px;
		margin-top: 0;
	}
}

@media(min-width:1360px){
	.footer{
		font-size: 18px;
		padding-top: 35px;
		padding-bottom: 35px;
	}
	.footer__copy{
		padding: 0 10px;
	}
}


.modal__form-shadow {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: -70px;
    padding-bottom: 70px;
    transform: translateY(70px);
    z-index: 250;
    background-color: rgba(0, 0, 0, 0.9);
}



/*Модальная форма*/

.modal-form {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 280px;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 8px 20.58px 0.42px rgba(0, 0, 0, 0.09);
	text-align: center;
	padding-top: 25px;
	padding-bottom: 20px;
	border-radius: 7px;
	z-index: 300;
}
.modal-form__close-btn {
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
	padding: 0;
	background-color: transparent;
	background-image: url("img/close2.png");
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.modal-form__close-btn:hover {
	opacity: 0.4;
}
.modal-form__name,
.modal-form__tel,
.modal-form__button{
	width: 220px;
	box-sizing: border-box;
	border-radius: 50px;
	font: inherit;
	border: none;
	padding: 15px 0;
	background-color: rgb(239, 239, 239);
	display: block;
	margin: 0 auto;
}  
.modal-form__tel{
	margin-bottom: 20px;
	margin-top: 10px;
	padding-left: 30px;
	padding-right: 15px;
}
.modal-form__name{
	margin-top: 20px;
	padding-left: 30px;
	padding-right: 15px;
}
.modal-form__button{
	background-color: #45516e;
	color: #fff;
	margin-top: 15px;
	cursor: pointer;
	transition: 0.3s;
}
.modal-form__button:hover {
	opacity: 0.6;
}
.modal-form__head{
	color: #45516e;
	font-family: 'Museo Sans Cyrl 900';
	padding: 0 15px;
}
.modal-form__name::placeholder,
.modal-form__tel::placeholder{
	color: #000;
}
.modal-form__ckeck{
	position: absolute;
    left: -99999px; 
}
.modal-form__ckeck-span{
	display: inline-block;
    position: relative;
    margin: 0;
    margin-top: -19px;
    margin-right: 5px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-color: transparent;
    border: 2px solid rgb(69, 81, 110);
    width: 11px;
    height: 11px;
    vertical-align: middle;
    cursor: pointer;
}
.modal-form__ckeck:checked + .modal-form__ckeck-span::before {
    position: absolute;
    content: "";
    top: 1px;
    left: 0;
    width: 10px;
    height: 9px;
    background: url("img/check.png") no-repeat center;
    cursor: pointer;
    z-index: 2;
}
.modal-form__check-text{
	display: inline-block;
	width: 220px;
	margin: 0 auto;
	font-size: 14px;
	line-height: 16px;
	color: #000;
}
.modal-shadow {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: -70px;
	padding-bottom: 70px;
	transform: translateY(70px);
	z-index: 250;
	background-color: rgba(0, 0, 0, 0.8);
}

@media(min-width:768px){
	.modal-form {
		width: 720px;
	}
	.modal-form__info-wrap{
		display: flex;
		justify-content: space-between;
	}
	.modal-form__name,
	.modal-form__tel,
	.modal-form__button{
		width: 215px;
		box-sizing: border-box;
		border-radius: 50px;
		font: inherit;
		border: none;
		padding: 18px 0;
		background-color: rgb(239, 239, 239);
		display: block;
		margin: 0 auto;
	}  
	.modal-form__tel{
		margin-bottom: 0;
		margin-top: 0;
		padding-left: 30px;
		padding-right: 15px;
	}
	.modal-form__name{
		margin-top: 0;
		padding-left: 30px;
		padding-right: 15px;
	}
	.modal-form__button{
		margin-top: 30px;
		background-color: #45516e;
		color: #fff;
	}
	.modal-form__head{
		color: #45516e;
		font-family: 'Museo Sans Cyrl 900';
		padding: 0 15px;
		margin-bottom: 20px;
	}
	.modal-form__name::placeholder,
	.modal-form__tel::placeholder{
		color: #000;
	}
	.modal-form__ckeck{
		position: absolute;
	    left: -99999px; 
	}
	.modal-form__ckeck-span{
		display: inline-block;
	    position: relative;
	    margin: 0;
	    margin-top: -19px;
	    margin-right: 5px;
	    -webkit-border-radius: 2px;
	            border-radius: 2px;
	    background-color: transparent;
	    border: 2px solid rgb(69, 81, 110);
	    
	    width: 11px;
	    height: 11px;
	    vertical-align: middle;
	    cursor: pointer;
	}
	.modal-form__ckeck:checked + .modal-form__ckeck-span::before {
	    position: absolute;
	    content: "";
	    top: 1px;
	    left: 0;
	    width: 10px;
	    height: 9px;
	    background: url("img/check.png") no-repeat center;
	    cursor: pointer;
	    z-index: 2;
	}
	.modal-form__check-text{
		display: inline-block;
		width: 220px;
		margin: 10px auto;
		font-size: 14px;
		line-height: 16px;
		margin-right: 10px;
	}
}
@media(min-width:1360px){
	.modal-form {
		width: 1170px;
		padding-top: 20px;
		padding-bottom: 50px;
	}
	.modal-form__info-wrap{
		justify-content: space-around;
	}
	.modal-form__close-btn {
		right: 0;
		top: 0;
		width: 40px;
		height: 40px;
	}
	.modal-form__name,
	.modal-form__tel,
	.modal-form__button{
		width: 215px;
		padding: 18px 0;
	}  
	.modal-form__tel{
		padding-left: 30px;
		padding-right: 15px;
	}
	.modal-form__name{
		margin-top: 0;
		padding-left: 30px;
		padding-right: 15px;
		margin-left: 100px;
	}
	.modal-form__button{
		margin-top: 35px;
		background-color: #45516e;
		color: #fff;
		font-size: 18px;
	}
	.modal-form__head{
		color: #45516e;
		font-family: 'Museo Sans Cyrl 900';
		font-size: 24px;
		line-height: 39px;
		padding: 0 15px;
		margin-bottom: 35px;
	}
	.modal-form__name::placeholder,
	.modal-form__tel::placeholder{
		color: #000;
		font-size: 18px;
	}
	.modal-form__ckeck-span{
	    margin-top: -2px;
	    margin-right: 5px;
	    width: 18px;
	    height: 18px;
	}
	.modal-form__ckeck:checked + .modal-form__ckeck-span::before {
	    top: 4px;
	    left: 4px;
	}
	.modal-form__check-text{
		display: inline-block;
		width: 440px;
		margin: 21px auto;
		font-size: 14px;
		line-height: 16px;
		margin-right: 90px;
	}
	.modal-form__label{
		flex-basis: 570px;
	}
}




